@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:1200px) {
    .brain-img {
    scale: 1.2;
    margin-bottom: 31px;
}
}
@media screen and (max-width:1199px) {
  .about-cnt p{
    padding-bottom: 15px;
}
.about-cnt {
    margin-bottom: 31px;
}
.about-img {
    margin-top: 40px;
    scale: 1.2;
    padding-right: 27px;
}
.icon {
    position: absolute;
    top: 33%;
}
.teen-box {
    padding-bottom: 44px;
}
.teen-box1 {
    background: #F9F9F9;
    color: #736C6C;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px #a1a1a1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 24px;
    padding-left: 17px;
}
.teen-box h6 {
    font-size: 18px;
}.teen-box1 h6 {
    font-size: 18px;
}
}
@media screen and (max-width:1198px) {
  .help-boxes {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 20px;
}
.box2 {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    gap: 18px;
}
.brain-img {
    scale: 1.5;
    margin-top: 41px;
}
button.submit {
    padding: 5px 70px;
    background-color: #6FA3B7;
    color: white;
    border: none;
}
}

@media screen and (max-width:1023px) {
   #about {
    margin-top: 60px;
    background: white;
    padding-top: 10px;
    padding-bottom: 46px;
}
.about-cnt p{
    padding-bottom: 18px;
}
.about-cnt h6{
    margin-top: 10px;
}
.icon {
    position: absolute;
    top: 33%;
}
.teen-box {
    margin-bottom: 29px;
}
.teen-box h6 {
    font-size: 18px;
}
.boxes-1 {
    padding: 4px 20px;
    border-radius: 4px;
    color: #00A3E0;
    /* text-align: center; */
    box-shadow: 0px 2px 0px 0px #777777;
}
.help-section {
    gap: 10px;
}
button.submit {
    padding-left: 46px;
    padding-right: 47px;
}
.brain-img {
    scale: 1.5;
    margin-top: 38px;
}
}

@media screen and (max-width:991px) {
    .about-cnt h6 {
    font-size: 17px;
}
.about-img img {
    width: 100%;
    padding-right: 32px;
    scale: 1.2;
}
#about {
    margin-top: 60px;
    background: white;
    padding-top: 10px;
    padding-bottom: 30px; 
}
.icon {
    position: absolute;
    top: 21%;
}
.councelling h5{
    font-size: 18px;
}
.councelling {
    padding-left: 13px;
    padding-bottom: 37px;
}
.brain-img {
    scale: 2;
    margin-top: 130px;
    margin-right: 16px;
}
input[type="email"] {
    width: fit-content;
    padding: 9px 10px;
}
button.submit {
    padding: 7px 22px;
    background-color: #6FA3B7;
    color: white;
    border: none;
}
button.sub-bt {
    padding: 1px 32px;
    border: none;
    background: #00A3E0;
    color: white;
}
.services h6 {
    font-size: 17px;
}
.choose-cnt h6 {
    font-size: 17px;
}
.team-heading h6 {
    font-size: 17px;
}
.testimonials h6 {
    font-size: 17px;
}

}
