@media screen and (max-width:1299px) {
    .contact-bt {
    display: none;
}
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
    ul.menue {
    display: none;
}
   
    
}
@media  (min-width:321px) and (max-width:482px) {

   
    
}
