@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
    ul.menue {
    display: none;
}
.contact-bt {
    display: none;
}
.menu.active {
    display: flex;
    z-index: 9;
    padding-top: 64vh;
}
   
    
}
@media  (min-width:321px) and (max-width:482px) {
    h1 {
    color: white;
    font-size: 30px;
}
.hero-cnt p {
    color: #e9e9e9;
    margin-top: 23px;
}

   
    
}
