@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
    ul.menue {
    display: none;
}
.contact-bt {
    display: none;
}
.menu.active {
    display: flex;
    z-index: 100;
    margin-top: 77px;
}
div#toggleBtn {
    display: block;
}

   
    
}
@media  (min-width:321px) and (max-width:482px) {
    h1 {
    color: white;
    font-size: 30px;
}
.hero-cnt p {
    color: #e9e9e9;
    margin-top: 23px;
}
.icon {
    position: absolute;
    top: 20%;
}
.choose-cnt {
    margin-top: 50px;
    margin-left: 30px;
}
.services {
    margin-left: 30px;
}
.about-cnt {
    margin-left: 30px;
}
.about-img {
    margin-bottom: 40px;
    margin-left: 30px;
}
.about-img {
    margin-bottom: 40px;
    margin-left: 30px;
}

   
    
}



