@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
    ul.menue {
    display: none;
}
.contact-bt {
    display: none;
}
.menu.active {
    display: flex;
    z-index: 100;
    margin-top: 77px;
}
div#toggleBtn {
    display: block;
}

   
    
}
@media  (min-width:321px) and (max-width:482px) {
    h1 {
    color: white;
    font-size: 30px;
}
.hero-cnt p {
    color: #e9e9e9;
    margin-top: 23px;
}
.icon {
    position: absolute;
    top: 20%;
}
.choose-cnt {
    margin-top: 50px;
    margin-left: 30px;
}
.services {
    margin-left: 30px;
}
.about-cnt {
    margin-left: 30px;
}

.about-img {
    margin-bottom: 40px;
    margin-left: 30px;
}
.row.teen {
    margin-left: 30px;
    margin-top: 50px;
}
#about {
    margin-top: 0px;
    background: white;
    padding-top: 1px;
    padding-bottom: 37px;
}
.boxes1 h6{
    font-size: .7rem;
}
.boxes-1 {
    background: white;
    width: fit-content;
    padding: 1px 18px;
    border-radius: 4px;
    color: #00A3E0;
    /* text-align: center; */
    box-shadow: 0px 2px 0px 0px #777777;
}

   
    
}



