@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
    ul.menue {
    display: none;
}
.contact-bt {
    display: none;
}
.menu.active {
    display: flex;
    z-index: 100;
    margin-top: 77px;
}
div#toggleBtn {
    display: block;
}



   
    
}

@media (max-width: 767px) {

  .hero-cnt,
  .choose-cnt,
  .services,
  .about-cnt,
  .about-img,
  .row.teen,
  .getin-touch-cnt {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media  (min-width:321px) and (max-width:482px) {
    h1 {
    color: white;
    font-size: 30px;
}
.hero-cnt p {
    color: #e9e9e9;
    margin-top: 23px;
}
.icon {
    position: absolute;
    top: 20%;
}
.choose-cnt {
    margin-top: 50px;
    margin-left: 30px;
}
.services {
    margin-left: 30px;
}
.about-cnt {
    margin-left: 30px;
}

.about-img {
    margin-bottom: 40px;
    margin-left: 30px;
}
.row.teen {
    margin-left: 30px;
    margin-top: 50px;
}
#about {
    margin-top: 0px;
    background: white;
    padding-top: 1px;
    padding-bottom: 37px;
}
.boxes1 h6{
    font-size: .7rem;
}
.boxes-1 {
    background: white;
    width: fit-content;
    padding: 1px 18px;
    border-radius: 4px;
    color: #00A3E0;
    /* text-align: center; */
    box-shadow: 0px 2px 0px 0px #777777;
}
input[type="email"] {
    width: fit-content;
    padding: 10px 14px;
}
.help-boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    /* flex-direction: column; */
}
button.submit {
    /* padding: -0px 45px; */
    background-color: #6FA3B7;
    color: white;
    border: none;
    padding: 12px;
}
ss
.\31 st-member {
    width: 100%;
    max-width: 100%;
    border: solid 1px #cbcbcb;
}
.icon {
    position: absolute;
    top: 18%;
}
.col-md-4.testi {
    padding: 18px;
}
.\31 st-member {
    border: #bdbdbd solid 1px;
}
.hero-cnt {
    position: relative;
    margin-left: 26px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.submit {
    /* padding: -0px 45px; */
    background-color: #6FA3B7;
    color: white;
    border: none;
    padding: 11px;
}

.icon {
    position: absolute;
    top: 14%;
}
button.submit {
    /* padding: -0px 45px; */
    background-color: #6FA3B7;
    color: white;
    border: none;
    padding: 10px;
}
   .team-cnt span{
    font: 15px;
   }
   button.submit {
    /* padding: -0px 45px; */
    background-color: #6FA3B7;
    color: white;
    border: none;
    padding: 9px;
}
button.sub-bt {
    padding: 1px 63px;
    border: none;
    background: #00A3E0;
    color: white;
}
button.submit {
    /* padding: -0px 45px; */
    background-color: #6FA3B7;
    color: white;
    border: none;
    padding: 8px;
}
button.sub-bt {
    padding: 1px 62px;
    border: none;
    background: #00A3E0;
    color: white;
}
button.sub-bt {
    padding: 1px 60px;
    border: none;
    background: #00A3E0;
    color: white;
}
.icon {
    position: absolute;
    top: 47%;
}
    
}



