@media screen and (max-width:1299px) {
    
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:767px) {
    ul.menue {
    display: none;
}
.contact-bt {
    display: none;
}
.menu.active {
    display: flex;
    z-index: 100;
    margin-top: 17px;
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333;
    flex-direction: column;
    text-align: center;
    display: none;
    padding-top: 216px;
}
   
    
}
@media  (min-width:321px) and (max-width:482px) {
    h1 {
    color: white;
    font-size: 30px;
}
.hero-cnt p {
    color: #e9e9e9;
    margin-top: 23px;
}

   
    
}
