@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:1299px) {
   
    
}
@media screen (min-width:321px) and (max-width:482px) {
   
    
}
